

*	{
	padding:0;
	margin: 0;
}
body{
	background-color: #000000;
	display: grid;
	grid-template-areas: 
	"header header header header header header"
"button button button button button button"
"div div div div div div"
" grt grt grt grt grt grt "
"per per per per per per"
" perp perp perp perp perp perp"
" perp2 perp2 perp2 perp2 perp2 perp2"
" pzac pzac pzac pzac pzac pzac"
"div2 div2 div2 div2  div2 div2"
"div3 div3 div3 div3 div3 div3"
 "match match match match match match"
"sim sim sim sim simf simf"
" imat  imat  imat  imat  imat  imat"
"footer footer footer footer footer footer"
;
grid-template-rows: 700px 200px 0px 900px 150px 500px 600px 800px 150px 250px 320px 0px 450px 150px; 


}
.b5{
	text-align: center;
}
.b4{
	text-align: center;
}
a{
	color: white;
	text-decoration: none;
}
.op{
opacity: 0.6;

background-color: black;
height: 800px;
width: 100%;
}
header{

	height: 800px;
background-image: url(../img/logo.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
color:white;	
font-size: 40px;

}
#hed{
	grid-area: header;
}
.t{
	z-index: -1;
}
h1{
	  letter-spacing: .1em;
  text-shadow: 4px 4px #a83ac4, 7px 7px rgba(200, 120, 22, .2);
color:white;
	height:800px;
	font-size: 80px;
	z-index: 2;
	color: white;	
	font-family: DINPro,Helvetica,Arial,Sans-Serif;
display: flex;
justify-content: center;
align-items:center;
}

#but{
	z-index: 7;
	width: 100%;		
	position: fixed;
opacity: 99%;
	height: 90px;
	display: grid;
	
	grid-template-columns: repeat(6,1fr);

grid-area: button;
}

button:not(:hover) {
  transition: 0.5s;
}
#but>button:hover{

	transition: all .2s;
	font-size: 25px;
	transition: 0.5s;	
	letter-spacing: .1em;
  text-shadow: 2px 2px #a83ac4, 3px 3px rgba(200, 120, 22, .2);	
}
#but>button{

	z-index: 5;
opacity: 80%;
font-size: 25px;
border:none;
	background-color: #020209;
	border-radius: 3%;
	outline: none;
	color: white;
	font-family:DINPro,Helvetica,Arial,Sans-Serif;

}


#pzac{
display: block;
height: 800px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	grid-area:  pzac;

background-image: url(https://images.nvidia.com/aem-dam/Solutions/geforce/ampere/rtx-3080/images/comparison/watch-dogs-legion-exomod-rtx-on.jpg);
}
.pza{

height: 700px;

	background-size: 100% 100%;
	z-index: 7;

}
.ztx{
	z-index: 9;
	color: white;
}
.div{
	height: 60px;
	background-size: 100% 100%;
	grid-area: div;
}
#tpz{
    width: 100%;
    height: 218px;
    background: linear-gradient(to bottom, rgba(0,0,0.0,0.93) 50px, rgba(0,0,0,0) 100%);
    z-index: 5;
}

.z1{
    display: block;
width: 40%;
z-index: 7;
	font-size: 50px;
	z-index: 5;
  letter-spacing: 0.1em;
  text-shadow: 4px 4px #a83ac4, 7px 7px rgba(200, 120, 22, .2);
color:white;
	font-family: DINPro,Helvetica,Arial,Sans-Serif;
display: flex;
justify-content: center;

}
.z2{
margin-left: 10px;
	font-size: 3fr;
    display: block;
max-width: 40%;
z-index: 7;
text-align: justify;
	font-size: 1fr;
	color: white;	
	font-family: DINPro,Helvetica,Arial,Sans-Serif;
	display:block;
justify-content: ;
}
.op2{
	opacity: 0.7;
background-color: black;
height:100%;
width: 100%;		
z-index: 1;
}
.grt{
background-position: right;
	opacity: 70%;
background-image: url(../img/Grt.jpg);
grid-area: grt;
background-repeat: no-repeat;
background-size: 100% 100%;
height: 700px;
}
.per{

	height: 800px;
	grid-area: per;

}
.z3{
	  letter-spacing: .1em;
  text-shadow: 4px 4px #a83ac4, 7px 7px rgba(200, 120, 22, .2);
color:white;
	text-align: center;
	font-size: 50px;
	color:white;
		font-family: DINPro,Helvetica,Arial,Sans-Serif;
		opacity: 70%;
}
.dota{
	grid-area: dota;
}.cs{
		grid-area: cs;
}
.legen{
		grid-area: legen;
}
.legen>img{
		
		border-top-left-radius:3%;
		margin-left: auto;
width: 350px;
height: auto;
}
.dota>img{

	border-top-right-radius:3%;
		border-top-left-radius:3%;
	margin-right: auto;
width: 350px;
height: auto;

}.cs>img{
	
		border-top-left-radius:3%;
		margin-left: auto;
	margin-right: auto;
width: 350px;
height: auto;

}
.ot{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	background-size: 100% 100%;
	grid-area:  perp;
grid-template-columns: 1fr 3fr 1fr;
display: flex;
flex-direction: row;
justify-content: space-around;
}
.txup{
	margin-left: auto;
	margin-right: auto;
	display: block;
text-align: justify;
	width: 330px;
	color:white;
	font-size: 23;
			font-family: DINPro,Helvetica,Arial,Sans-Serif;
}
.bac{
	margin-right: 15px;
	margin-left:15px;
	 background: linear-gradient(35deg, grey, black);
	border-radius: 3%;
	width: auto;
	opacity: 80%;
	background-color:#303030;
	max-height: 400px;

}
.ot2{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	margin-right: 
	margin-left:;
	background-size: 100% 100%;
	grid-area:  perp2;
grid-template-columns: 1fr 3fr 1fr;
display: flex;
flex-direction: row;
justify-content: space-around;
}
.z4{
  letter-spacing: .1em;
  text-shadow: 4px 4px #a83ac4, 7px 7px rgba(200, 120, 22, .2);
color:white;
	text-align: center;
	font-size: 55px;
				font-family: DINPro,Helvetica,Arial,Sans-Serif;

}
#tpz2{
    width: 100%;
    height: 220px;
    background: linear-gradient(to bottom, rgba(0,0,0.0,0.96) 30px, rgba(0,0,0,0) 100%);
    top: 0px;
    left: 0px;
    z-index: 5;
}				
.ot2{	
display: flex;
flex-direction: row;
justify-content: space-around;	
}
.fr5{
	border-style: solid;
	border-color:;
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 80%;
	background-color: black;
height: 210px;
display: flex;
flex-direction: row;
justify-content: center;
text-align: justify;
border-radius: 20px;
opacity: 75%;
}
.z5{
	padding: 20px 20px 20px 20px;
display: block;
margin-left: auto;
	margin-right: auto;
	display: block;
text-align: justify;
	width: 95%;
	color:white;
	font-size: 23px;
   font-family: DINPro,Helvetica,Arial,Sans-Serif;

}
.igr{
	grid-area: igr;
	height: 400px;
}
#tpzb{
    width: 100%;
    height: 250px;
    background: linear-gradient(to top, rgba(0,0,0.0,0.96) 30px, rgba(0,0,0,0) 100%);
    z-index: 5;
}
.simp{

		background-size: 100% 100%;
	width: 3fr;
	height: 500px;
	background-repeat: no-repeat;
	background-image: url(../img/simpl.jpg);
	grid-area: sim;
}
.infsiml{
	grid-area: simf;
	width: 1fr;
}
.div2{
	height: 10px;
	background-size: 100% 100%;
	grid-area: div2;
}
.div3{
	height: 20px;
	background-size: 100% 100%;
	grid-area: div3;
}
.z6{
	letter-spacing: .1em;
  text-shadow: 3px 3px #a83ac4, 1px 1px rgba(200, 120, 22, .2);
	color:white;
	text-align: center;
	font-size: 55px;
	font-family: DINPro,Helvetica,Arial,Sans-Serif;

}
#tpzl{
	background-size: 100% 100%
	width: 100px;
   height: 100%;
    background: linear-gradient(to left, rgba(0,0,0.0,0.96) 30px, rgba(0,0,0,0) 100%);
    bottom: 0px;
    right: 0px;
    z-index: 5;
}
.txol{		
	
		padding: 0,30px,30px,0;
	margin-right: auto;

	color:white;
	font-size: 23;
			font-family: DINPro,Helvetica,Arial,Sans-Serif;
}
.match{
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
	display: block;
	width: 100%;
	grid-area: match;
	display: flex;

}
.match > img{
		opacity: 80%;
}
.k1{
	height: 75%;
	width: 20%;
}
.k2{
	height: 80%;
	width: 17%;
}
.k3{
	height: 75%;
	width: 20%;
}
.imat{

	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: ;
	grid-area: imat;
text-align: justify;
color:white;

}
.imat1{
	opacity:80%;
	text-align: center;
	width: 90%;
	margin-left: 10px;
	color:white;
	font-size: 20px;
			font-family: monospace;
}
.imat2{
		opacity:80%;
		width: 90%;
		margin-left: 40px;
text-align: center;
	font-size: 20px;
	font-family: monospace;
}
.imat3{
		text-align: center;
		opacity:80%;
		font-size: 20px;
		width: 90%;
			margin-left: 40px;
			margin-right: 10px;
			font-family: monospace;
}
footer{
	opacity: 90%;
	display: flex;
	justify-content: flex-start;
	margin-top: auto;
	margin-bottom: auto;

	height: 150px;
	background-color: #5b5858;
	grid-area: footer;
background: linear-gradient(35deg, grey, black);
}
.txf{

	background: ;
	color: white;
	font-size: 19px;
	padding-left: 20px;
	margin-top: auto;
	margin-bottom: auto;
	font-family: monospace;

}
